### GET the LIFF ID. Please follow: https://developers.line.biz/console/
VITE_LIFF_ID=
VITE_WEBSITE_DEFAULT_TITLE=
VITE_LIFF_REDIRECT_URL=
VITE_SERVER_PROTOCOL=
VITE_SERVER_HOSTNAME=
VITE_SERVER_API_ROOT_PATH=
VITE_WELLCARE_OFFICIAL_WEBSITE=
VITE_WELLCARE_ONLINE_STORE=
